body {
    background-color: white;
}


.content {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    left: 0;
    position: fixed;
    margin-left: 20px;
    margin-right: 20px;
    right: 0;
    z-index: 2;
    padding: 0 10px;
}

.title {
    color: lightgreen;
    font-family: Verdana,sans-serif;
    margin-top: 100px;
    text-align: center;
    font-size: 70px;
}

hr{
    width: 50%;
    margin-bottom: 50px;

}
.one, .two, .three, .four {
    color: grey;
    font-family: Verdana,sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#fplace {
    color: lightgreen;
    font-family: Verdana,sans-serif;
    text-align: center;
    font-size: 35px;
}

.N {
    font-family: Verdana,sans-serif;
    text-align: center;
    font-weight: bold;
    color: grey;
}

#dplace {
    color: lightgreen;
    font-family: Verdana,sans-serif;
    text-align: center;
    font-size: 35px;
}